p {
    color: rgb(171, 6, 6);
}


.header {
    position: absolute;
    background-color: black;
    width: 208.9vh;
    height: 6vh;
    top: 0vh;
    left: 0vh;
    display: flex;
}

.caixa {
    background-color: aliceblue;
    top: 0vh;
    border: 3vh;
    height: 6vh;
    width: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;
}

.caixa:hover {
    height: 7vh;
    width: 10vh;
    transition: 1s;
}

.container-central {
    position: absolute;
    display: inline;
    align-items: center;
    justify-content: center;
    left: 18vh;
    top: 15vh;
}
.container-carrossel {
  position: relative;
  width: 170vh;
  height: 90vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.foto-slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.8s ease-in-out;
}

.indicadores {
  position: absolute;
  bottom: 2vh;
  display: flex;
  gap: 1.3vh;
}

.indicadores span {
  width: 1.6vh;
  height: 1.6vh;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: 0.3s;
}

.indicadores span.ativo {
  background: white;
  transform: scale(1.2);
}

.contador-container {
  text-align: center;
  padding: 2.5vh;
  background-color: #fce4ec;
  color: #880e4f; 
  border-radius: 1.3vh;
  margin-top: 2.2vh;
  font-family: sans-serif;
}

.tempo-texto {
  font-size: 1.5rem;
  font-weight: bold;
}


.frase-amor {
    position: absolute;
  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  
    z-index: 10; 

   
    background-color: rgba(255, 255, 255, 0.9);
    color: #d32f2f; 
    font-size: 2.5rem; 
    font-weight: bold;
    font-family: 'cursive', sans-serif;
    padding: 2vh 4vh;
    border-radius: 50px;
    box-shadow: 0 0.5vh 1vh rgba(0,0,0,0.3);
    
   
    pointer-events: none; 
    
  
    animation: surgir 0.3s ease-out;
}


@keyframes surgir {
    from {
        opacity: 0;
        transform: translate(-50%, -30%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%); 
    }
}